<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choisir POI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-gradient">
  <div class="container">
    <div class="header-card">
      <h1>Choisir un POI</h1>
    </div>
    <div class="poi-list-card">
      <ion-list>
        @for(poi of pois$(); track poi.id) {
          <ion-item [routerLink]="['/list-poi', poi.id, 'search']" class="poi-item">
            {{ poi.name }}
          </ion-item>
        }
      </ion-list>
    </div>
  </div>
  <div class="footer">
    <span>y n o v . c o m</span>
  </div>
</ion-content>
